body {
  box-sizing: border-box;
  margin: 0;
  background-color: hsl(216, 12%, 8%);

}
 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  display: flex;
  flex-direction: column;
  
  align-items: center;
  height: 100vh;
 
  
}

.card{
  width: 420px;
  height: 420px;
  background-color:hsl(213, 19%, 18%) ;
  border: 1px solid red;
  z-index: -1;
  margin: auto;
 
}

