@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;

}
 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container1,.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
 
  
}

.card{
  width: 420px;
  height: 420px;
  background-color:hsl(213, 19%, 18%) ;
  margin: auto;
  border-radius: 20px;
 
}

.star{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-top: 36px;
  margin-left: 36px;
  border-radius: 50%;
  background-color:hsl(214, 21%, 15%);
  
  
}

.head{
  font-size: 23px;
  color: white;
  
  margin-left: 36px;
  margin-top: 36px;
}

.text{
  margin-top: 20px;
  margin-left: 36px;
  color: hsl(217, 12%, 63%);
}

ul{
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

li button:hover{
  background-color:hsl(25, 97%, 53%) ;
  color: white;
  
}

li button:active,:focus{
  background-color:white;
  color:hsl(25, 97%, 53%);
  cursor: pointer;
  transition: 0.2s;
  
} 







 button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:hsl(214, 21%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
  border: none;
  outline: none;
  
  
}


.btn-submit{
  margin-left: 36px;
}

.btn-s{
  width: 340px;
  height: 40px;
  border-radius: 20px;
  background-color:hsl(25, 97%, 53%) ;
  color: white;
  border: 1px solid hsl(25, 97%, 53%) ;
  letter-spacing: 5px;
}

.btn-s:hover{
  background-color: white;
  color:hsl(25, 97%, 53%) ;
}



.img-thnk{

  margin-top: 40px;
  display: flex;
  justify-content: center;
  
}

.txtcont{
  display: flex;
  justify-content: center;
}

.txt-rate{
 margin-top: 30px;
  width: 190px;
  height: 35px;
  border-radius: 20px;
  background-color: hsl(214, 21%, 15%);
  color: orange;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.head-thnk{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.text-thnk{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-left: 36px;
 margin-right: 36px;
  margin-top: 15px;
  font-size: 14px;
  color:hsl(217, 12%, 63%) ;
}

.btn-r{
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 15px;
  width: 340px;
  height: 40px;
  border-radius: 20px;
  background-color:hsl(25, 97%, 53%) ;
  color: white;
  border: 1px solid hsl(25, 97%, 53%) ;
  letter-spacing: 5px;
}

.btn-r:hover{
  background-color: white;
  color:hsl(25, 97%, 53%) ;
}